<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/styles.css" rel = "stylesheet" />
  <title>About Us</title>
</head>
<body>
  <header class="header">
    <img src = "/assets/logo.jpg" class="img"/>
    <h1 id = "indexTitle">DT Market Place</h1>
  </header>
  <h2 class = "titles">About us</h2>
  <p class="aboutus">
    Welcome to the DT Market Place. Our head-quarters is based in the sate of Virginia and our services span all over the nation. </br>
    We started this family business in April, 2024. </br></br>
    We have the following misions: </br></br>

     - Rendering quality products to users </br>
     - Creating access to new businesses by inviting sellers to join us. Sellers will be highly encouraged with a fair amount of management fee. </br>
     - Incorporating high quality products along with cheaper products that attain acceptable quality. </br></br>

    We have the following vision:</br></br>
     - To have more than 100K customers within the next 2 years. </br>
     - To start dealership services with wholesale companies. </br>
     - To receive products from manufacturers.</br>
     - To specialize over specific items.
  </p>
  
</body>
</html>
