<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/styles.css" rel = "stylesheet" />  
  <title>DT Market Place - Login Page</title>
</head>

<body>
  <header class="header">
    <img src = "/assets/logo.jpg" class="img"/>
    <h1 id = "indexTitle">DT Market Place</h1>
  </header>
  
  <h2 class="titles">Contact Us</h2>

  <div class="contactUsStyle">
    <form action="/items/contactus" method = "POST">

      First name: <input type = "text" name = "FirstName" class="input-box"/> <br>
      Middle name: <input type = "text" name = "MiddleName" class="input-box" /> <br>
      Last Name: <input type = "text" name = "LastName" class="input-box"/> <br>
      Email: <input type = "email" name = "Email" class="input-box"/> <br>
      Phone No.: <input type = "Number" name = "Phone No." class="input-box"/> <br>
      <input type = "text" placeholder = "Type your message here." name = "Message" class="input-box-big"/> <br>
      <input type = "submit" value = "SUBMIT" class="contactUsSubmit"/>   
      <button class="backOfContactUs"><a href = "/items/" class="textDeco">BACK</a></button>
    </form> 
  </div>

  

</body>
</html>