<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DT Market Place - Login Page</title>
</head>

<body>
  <h1>Account Log In/Sign Up Page</h1>

  <form action="users/" method = "POST">

    First name: <input type = "text" placeholder = "First Name" name = "FirstName"/> <br>
    Middle name: <input type = "text" name = "MiddleName"/> <br>
    Last Name: <input type = "text" name = "LastName"/> <br>
    Email: <input type = "email" name = "Email"/> <br>
    Phone No.: <input type = "Number" name = "Phone No."/> <br>
    <input type = "text" placeholder = "Type your message here." name = "Message"/> <br>
    <input type = "submit" value = "SUBMIT"/>   

  </form>

  <a href = "/users/">BACK</a>
</body>
</html>