<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/styles.css" rel = "stylesheet" />
  <title>DT Market Place</title>
</head>
<body>
  <img src = "/logo.jpg"/>
  <h1 id = "indexTitle">DT Market Place</h1>
  <form action="/items/productslist?_ method=PUT" method="POST">
    Name: <input type = "text" name="name" /><br/>
    Description: <input type = "text" name="name" /><br/>
    Image: <input type = "text" name="name" /><br/>
    Price: <input type = Number name="name" /><br/>
    Qty: <input type = Number name="name" /><br/>
    <input type = "submit" name="" value = "Submit Changes"/>

  </form>
</body>
</html>