<%- include('partials/header') %>

  <h2 class = "titles">Login Page</h2>
  <div class="loginStyles">
    <form action="/users/login" method = "POST" >
      User Name: <input type = "text" name = "username" class="input-box" /> <br>
      Password: <input type = "password" name = "password" class="input-box"/> <br>
      <input type = "submit" value = "Login" class="loginSubmit"/>   
    </form>
  </div>  

  <button class="createAccount"><a href="/users/">Create an Account</a></button>

<%- include('partials/footer') %>