<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/styles.css" rel = "stylesheet" />
  <title>DT Market Place - SignUp Page</title>
</head>

<body>
  <h1 id = "indexTitle">DT Market Place</h1>
  <h2>Create Account Page</h2>

  <form action="/users/" method = "POST">

    User Name: <input type = "text" name = "username"/> <br>
    Password: <input type = "password" name = "password"/> <br>
    <input type = "submit" value = "Create Account"/>   

  </form>

 <button><a href="/users/login">Login</a></button> 

</body>
</html>