<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DT Market Place - Login Page</title>
</head>

<body>
  <h1>Account Log In/Sign Up Page</h1>

  <form action="users/" method = "POST">

    <input type = "text" placeholder = "username" name = "username"/> <br>
    <input type = "password" placeholder = "Password" name = "password"/> <br>
    <input type = "submit" value = "Create Account"/>   

  </form>

  <a href = "/users/login">Create an Account</a>
</body>
</html>