body {
  background-color:rgba(247, 211, 157, 0.815);  
  margin-left: 100px;
  margin-right: 100px;
}

#indexTitle {
  text-align: center;
  font-size: 50px; 
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210115/pngtree-healthcare-science-medical-dna-background-banner-image_520243.jpg");
  background-repeat: none;  
  height: 100px;
  width: 1550px;
  color:black;
  padding: 35px 20px 10px 20px;
}

.header {
display: flex;
justify-content: center;
}

.img{
  height:180px;
  width:180px;
}

.buttons {
  display: flex;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.705);
  margin: 10px 0 15px 0;
  padding: 7px 10px 7px 10px;  
}

.links {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.685);  
}

#aboutUs {
  margin: 2px 17px 2px 10px;
  width:120px;
  Height:40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(247, 242, 242);
  margin: 10px 55px 10px 10px;
}

#productsList {
  margin: 2px 17px 2px 10px;
  width:140px;
  Height:40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  margin: 10px 55px 10px 10px;
}

#contactUs {
  margin: 2px 17px 2px 10px;
  width:120px;
  Height:40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(243, 238, 238);
  margin: 10px 55px 10px 10px;
}


.contactUsStyle {
  font-size: 25px;
  display:flex;
  justify-content: center;
  
}

.newItemStyle {
  font-size: 25px;
  display:flex;
  justify-content: center;
}

.aboutus {
  font-size: 25px;
}

.titles {
  font-size: 37px;
  text-align: center;
}
.input-box {
  width:450px;
  height:25px;
  margin: 15px 10px 2px 10px;
  font-size: 20px;
  
}

.input-box-big {
  width: 700px;
  height:300px;
  margin: 20px 10px 10px 0;
}

.contactUsSubmit {  
  border-radius: 7px; 
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-weight:700;

}
.backOfContactUs{
  border-radius: 7px; 
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 0 10px 10px 443px;
}
.textDeco{
  text-decoration: none;
  color:black;
}

.indexDescription {
  font-size: 20px;  
  text-align:left;
  margin: 5px 30px 30px 30px; 
  
}

.question {
  font-size: 20px;
  float:right;
  margin: 20px 20px 20px 5px;
}

.indexImg {
 
  margin-right: 100px;
  float:right;
  position:relative;

}

.eth {
  width:270px;
  height: 270px;
}

.partyShoes {
  width:270px;
  
}

.men1 {
  width:270px;
  height:270px;
}

.men2 {
  width:270px;
}

.question {
  margin: 5px 30px 5px 400px;
}

.joinUs {
  font-size: 25px;
  float: right;
  text-decoration: none;
  font-size: 22px;
  color:orangered;
  font-weight:700;
}

.login {
  font-size: 25px;
  float: right;
  text-decoration: none;
  font-weight:700;
}

.signUp {
  font-size: 25px;
  float: right;
  text-decoration: none;
  font-size: 22px;
  color: green;
  font-weight:700;
}

#joinUs {
  margin: 10px 20px 20px 770px; 
  border-radius: 7px; 
}

#signUp {
  margin: 10px 10px 15px 30px; 
  border-radius: 7px;
}

#login {
  margin: 10px 10px 15px 30px;
  font-size: 22px;
  border-radius: 7px;
}
.login {  
  font-size: 22px;
  color: green;
}

.logout {
  display:flex;
  justify-content: flex-end;
}

#logout {
  color:blue;
  font-size: 18px;
}
.loginStyles {
  font-size: 25px;
  display:flex;
  justify-content: center;
}

.loginSubmit {
  border-radius: 7px; 
  width: 130px;
  height: 40px;
  font-size: 20px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 45px 10px 10px 0;
}

.createAccount {
  border-radius: 7px; 
  width: 180px;
  height: 30px;
  font-size: 18px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 20px 10px 10px 560px;
}

.createAccountSubmit{
  border-radius: 7px; 
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 45px 10px 10px 0;
}

.loginOfCAPage {
  border-radius: 7px; 
  width: 140px;
  height: 30px;
  font-size: 18px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 20px 10px 10px 560px;
}

.newPro{
  font-size: 23px;
  text-align: center;
}
.showImg{
  width:370px;
  height: 370px;
}

.showstyles{
  list-style: none;
  font-size: 25px;
  color: black;  
  font-weight: 700;
  margin: 20px 5px 20px 15px;
  padding: 10px 5px 0 10px;
  
}
.listStyles {
  list-style: none;  
  display: flex;
  padding: 1px 18px 10px 20px;
}

.showType{
  background-color:rgb(243, 243, 179);  
  padding: 1px 18px 10px 20px;
  border-radius: 15px;
  width: 380px;
  height:670px;
  text-align: center;   
  margin: 20px 20px 10px 780px;
}

.backOfShow{
  border-radius: 7px; 
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 0 10px 10px 900px;
}

.createOfproducts{
  border-radius: 7px; 
  width: 180px;
  height: 50px;
  font-size: 22px;
  font-weight:700;
  text-decoration: none;
  color:black;
  margin: 25px 10px 10px 180px;
}